version: "3.9"

services:
  traefik:
    image: traefik:v2.10
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.email=inyiamajeremiah@gmail.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    ports:
      - "80:80"
      - "443:443"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.jerrie-todo.mooo.com`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.dashboard.service=api@internal"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./infra/traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./infra/traefik/letsencrypt:/letsencrypt
    networks:
      - app-network


  frontend:
    build: ./frontend
    container_name: frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`app.jerrie-todo.mooo.com`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    depends_on:
      - auth-api
      - todos-api
      - users-api
    networks:
      - app-network


  auth-api:
    build: ./auth-api
    container_name: auth-api
    environment:
      - REDIS_HOST=redis
      - USERS_API_ADDRESS=http://users-api:8083
      - AUTH_API_PORT=8081
      - JWT_SECRET=myfancysecret
      - REDIS_HOST=redis
      - USERS_API_ADDRESS=http://users-api:8083
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=Host(`auth.jerrie-todo.mooo.com`)"
      - "traefik.http.routers.auth.entrypoints=websecure"
      - "traefik.http.routers.auth.tls.certresolver=letsencrypt"
      - "traefik.http.services.auth.loadbalancer.server.port=8081"
    networks:
      - app-network


  todos-api:
    build: ./todos-api
    container_name: todos-api
    environment:
      - REDIS_HOST=redis
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.todos.rule=Host(`todos.jerrie-todo.mooo.com`)"
      - "traefik.http.routers.todos.entrypoints=websecure"
      - "traefik.http.routers.todos.tls.certresolver=letsencrypt"
      - "traefik.http.services.todos.loadbalancer.server.port=8082"
    networks:
      - app-network


  users-api:
    build: ./users-api
    container_name: users-api
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.users.rule=Host(`users.jerrie-todo.mooo.com`)"
      - "traefik.http.routers.users.entrypoints=websecure"
      - "traefik.http.routers.users.tls.certresolver=letsencrypt"
      - "traefik.http.services.users.loadbalancer.server.port=8083"
    networks:
      - app-network


  log-message-processor:
    build: ./log-message-processor
    container_name: log-message-processor
    depends_on:
      - redis
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.logs.rule=Host(`logs.jerrie-todo.mooo.com`)"
      - "traefik.http.routers.logs.entrypoints=websecure"
      - "traefik.http.routers.logs.tls.certresolver=letsencrypt"
      - "traefik.http.services.logs.loadbalancer.server.port=5000"
    networks:
      - app-network


  redis:
    image: redis:7-alpine
    container_name: redis
    volumes:
      - redis-data:/data
    networks:
      - app-network


volumes:
  redis-data:

networks:
  app-network:
