- name: Update apt cache (again before Docker install)
  apt:
    update_cache: yes
  become: yes

- name: Remove any existing Docker packages
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: absent
    purge: yes
    autoremove: yes
    update_cache: yes
  become: yes

- name: Install pinned Docker packages with allow-downgrades
  ansible.builtin.command: >
    apt-get install -y --allow-downgrades
    docker-ce=5:28.5.2-1~ubuntu.24.04~noble
    docker-ce-cli=5:28.0.4-1~ubuntu.24.04~noble
    containerd.io
    docker-buildx-plugin
    docker-compose-plugin
  become: yes

- name: Add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes

- name: Enable Docker service
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Create application directory
  file:
    path: /opt/hng
    state: directory
    owner: ubuntu
    group: ubuntu
    mode: '0755'
